<% include ./partials/header.ejs %>
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../stylesheets/landing.css">
<!-- <p class="h1">DONATE FOR GOOD</p> -->
<% include ./partials/footer.ejs %>