<% include ./partials/header %>
<form action="/donar/<%= userid %>" method="POST">
    <label for="Bgp">Blood Group</label>
    <input id="Bgp" type="text" placeholder="Blood Group" name="Bgp">
    <button class="btn btn-secondary btn sm">Submit</button>
</form>
<% include ./partials/footer %>